Repository AnthonyBronca/FireBnB, pull requests merged in 2024-02, with the labels that each got.

#241 Anthonybronca/qol
  Dockerfile
  backend/package-lock.json
  backend/package.json
  backend/src/app.ts
  backend/src/routes/index.ts
  backend/static/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Modals/NewReviewModal.tsx
  frontend/src/components/PersonalInfo/LoginSecurity.tsx
  frontend/src/components/PersonalInfo/ManageReviews.tsx
  frontend/src/components/Review/Review.tsx
  frontend/src/components/SpotDetail/Summary/AdditionalDetail.tsx
  frontend/src/components/SpotDetail/Summary/HostDetails.tsx
  frontend/src/components/SpotDetail/Summary/calendar.css
  frontend/src/components/Spots/Spots.tsx
  frontend/src/env.d.ts
  frontend/src/main.tsx
  frontend/src/screens/SpotDetailPage/SpotDetail.css
  frontend/src/screens/SpotDetailPage/SpotDetail.tsx
  frontend/src/store/index.ts
  frontend/src/store/spots.ts
  frontend/tsconfig.config.json
  frontend/tsconfig.json
  mobile/Dockerfile
  mobile/app.json
  mobile/docker-compose.yml
  mobile/eas.json
  mobile/package-lock.json
  mobile/package.json
Labels: Bug, Enhancement, Web, Deployment

#244 Anthonybronca/qol
  Dockerfile
  backend/.dockerignore
  backend/src/app.ts
  backend/src/routes/index.ts
  backend/static/index.html
  frontend/src/App.tsx
  frontend/src/components/NoResource/NoResource.css
  frontend/src/components/NoResource/NoResource.tsx
  frontend/src/components/NoResource/index.tsx
  frontend/src/screens/SpotDetailPage/SpotDetail.tsx
  frontend/src/store/index.ts
  frontend/src/store/spots.ts
  mobile/app.json
Labels: Bug, Enhancement, Deployment

#249 Mobile setup
  mobile/Stylesheet.md
  mobile/app/hooks.ts
  mobile/app/likes.ts
  mobile/app/session.ts
  mobile/app/spots.ts
  mobile/app/store.ts
  mobile/assets/wireframes/Explore/explore.PNG
  mobile/assets/wireframes/Explore/filters.PNG
  mobile/assets/wireframes/Explore/spot-detail.PNG
  mobile/assets/wireframes/Inbox/inbox-empty.PNG
  mobile/assets/wireframes/Inbox/inbox-no-user.PNG
  mobile/assets/wireframes/LogIn/login-no-user.PNG
  mobile/assets/wireframes/LogIn/signup-form.PNG
  mobile/assets/wireframes/Profile/log-out.PNG
  mobile/assets/wireframes/Profile/profile.PNG
  mobile/assets/wireframes/Trips/trips-empty.PNG
  mobile/assets/wireframes/Trips/trips-no-user.PNG
  mobile/assets/wireframes/Wishlists/wishlists-empty-list-detail.PNG
  mobile/assets/wireframes/Wishlists/wishlists-empty-list.PNG
  mobile/assets/wireframes/Wishlists/wishlists-empty.PNG
  mobile/assets/wireframes/Wishlists/wishlists-no-user.PNG
  mobile/assets/wireframes/Wishlists/wishlists-populated.PNG
  mobile/package-lock.json
  mobile/package.json
  mobile/screens/Home/Components/NavBar.tsx
  mobile/screens/Home/Home.tsx
  mobile/screens/Inbox/Inbox.tsx
  mobile/screens/Inbox/index.tsx
  mobile/screens/Login/Login.tsx
  mobile/screens/Login/index.tsx
  mobile/screens/Profile/Profile.tsx
  mobile/screens/Profile/index.tsx
  mobile/screens/Trips/Trips.tsx
  mobile/screens/Trips/index.tsx
  mobile/screens/Wishlists/Wishlists.tsx
  mobile/screens/Wishlists/index.tsx
  mobile/typings/redux.d.ts
Labels: Documentation, Enhancement, Good first issue, Mobile

#250 Anthonybronca/mobile detail page
  mobile/.dockerignore
  mobile/Navigation.tsx
  mobile/app.json
  mobile/assets/airbnb-splash.png
  mobile/assets/airbnb.png
  mobile/assets/icons.ts
  mobile/assets/images/calendar.png
  mobile/assets/images/door.png
  mobile/assets/images/pineapple.jpg
  mobile/assets/images/random-person.jpg
  mobile/assets/images/superhost.png
  mobile/assets/placeholders/placeholder1.png
  mobile/assets/placeholders/placeholder2.png
  mobile/assets/placeholders/placeholder3.png
  mobile/assets/placeholders/placeholder4.png
  mobile/assets/splash.png
  mobile/assets/wireframes/SpotDetail1.PNG
  mobile/assets/wireframes/SpotDetail2.PNG
  mobile/components/SpotSpecs/SpotSpecs.tsx
  mobile/components/SpotSpecs/index.tsx
  mobile/constants/stylings/styles.ts
  mobile/eas.json
  mobile/index.d.ts
  mobile/package-lock.json
  mobile/package.json
  mobile/screens/SpotDetail/SpotDetail.tsx
  mobile/screens/SpotDetail/components/BottomReserve.tsx
  mobile/screens/SpotDetail/components/DetailParagraph.tsx
  mobile/screens/SpotDetail/components/Header.tsx
  mobile/screens/SpotDetail/components/SpotImages.tsx
  mobile/screens/SpotDetail/components/SpotTitle.tsx
  mobile/screens/SpotDetail/components/SubDetail.tsx
  mobile/screens/SpotDetail/components/TopNav.tsx
  mobile/screens/SpotDetail/index.tsx
  mobile/tsconfig.json
Labels: Enhancement, Mobile

#251 hooked up navigation of home and spotDetail
  mobile/Navigation.tsx
  mobile/package-lock.json
  mobile/package.json
  mobile/screens/Home/Home.tsx
  mobile/screens/SpotDetail/SpotDetail.tsx
  mobile/screens/SpotDetail/components/TopNav.tsx
Labels: Enhancement, Mobile

#257 Anthonybronca/animated nav
  mobile/Navigation.tsx
  mobile/screens/Home/Home.tsx
  mobile/screens/SpotDetail/SpotDetail.tsx
  mobile/screens/SpotDetail/components/AnimatedNav.tsx
  mobile/screens/SpotDetail/components/Header.tsx
  mobile/screens/SpotDetail/components/TopNav.tsx
Labels: Enhancement, Mobile

#258 added review section
  mobile/assets/wireframes/ReviewScreen/Review1.PNG
  mobile/assets/wireframes/SpotDetail/SpotDetail1.PNG
  mobile/assets/wireframes/SpotDetail/SpotDetail2.PNG
  mobile/assets/wireframes/SpotDetail/SpotDetail3.PNG
  mobile/screens/SpotDetail/SpotDetail.tsx
  mobile/screens/SpotDetail/components/Reviews.tsx
  mobile/screens/SpotDetail/components/SubDetail.tsx
Labels: Enhancement, Mobile

#262 Added scripts for lt start
  mobile/bin/start.sh
  mobile/package.json
  mobile/store/url.ts
Labels: Enhancement, Mobile

#264 Anthonybronca/spot detail reviews
  mobile/bin/start.sh
  mobile/screens/Home/Components/Spots.tsx
  mobile/scripts/localtunnel.sh
  mobile/store/index.ts
  mobile/store/likes.ts
  mobile/store/session.ts
  mobile/store/spots.ts
  mobile/store/url.ts
  mobile/utils/url-parser.ts
Labels: Bug, Mobile

#265 Staging
  backend/package-lock.json
  backend/package.json
  mobile/bin/start.sh
  mobile/package-lock.json
  mobile/package.json
  mobile/screens/Home/Components/Search.tsx
  mobile/screens/Home/Components/SpotDetails.tsx
  mobile/screens/Home/Components/Spots.tsx
  mobile/screens/Home/Home.tsx
  mobile/scripts/localtunnel.sh
  mobile/store/index.ts
  mobile/store/likes.ts
  mobile/store/session.ts
  mobile/store/spots.ts
  mobile/store/url.ts
  mobile/utils/url-parser.ts
Labels: Enhancement, Mobile

#266 Anthonybronca/spot detail reviews
  backend/src/routes/api/spots.ts
  frontend/src/store/index.ts
  mobile/app.json
  mobile/babel.config.js
  mobile/package-lock.json
  mobile/package.json
  mobile/screens/Home/Components/NavBar.tsx
  mobile/screens/Home/Components/NavBarTile.tsx
  mobile/screens/Home/Components/Search.tsx
  mobile/screens/Home/Components/SpotDetails.tsx
  mobile/screens/Home/Components/Spots.tsx
  mobile/screens/Home/Home.tsx
  mobile/screens/SpotDetail/SpotDetail.tsx
  mobile/screens/SpotDetail/components/AnimatedNav.tsx
  mobile/screens/SpotDetail/components/BottomReserve.tsx
  mobile/screens/SpotDetail/components/DetailParagraph.tsx
  mobile/screens/SpotDetail/components/Header.tsx
  mobile/screens/SpotDetail/components/Reviews.tsx
  mobile/screens/SpotDetail/components/SpotImages.tsx
  mobile/screens/SpotDetail/components/SpotTitle.tsx
  mobile/screens/SpotDetail/components/SubDetail.tsx
  mobile/screens/SpotDetail/components/TopNav.tsx
  mobile/store/index.ts
  mobile/store/spots.ts
  mobile/store/url.ts
  mobile/typings/redux.d.ts
  mobile/utils/url-parser.ts
Labels: Bug, Enhancement, Mobile

#271 Staging
  backend/src/routes/api/spots.ts
  frontend/src/store/index.ts
  mobile/app.json
  mobile/babel.config.js
  mobile/package-lock.json
  mobile/package.json
  mobile/screens/Home/Components/NavBar.tsx
  mobile/screens/Home/Components/NavBarTile.tsx
  mobile/screens/Home/Components/Search.tsx
  mobile/screens/Home/Components/SpotDetails.tsx
  mobile/screens/Home/Components/Spots.tsx
  mobile/screens/Home/Home.tsx
  mobile/screens/SpotDetail/SpotDetail.tsx
  mobile/screens/SpotDetail/components/AnimatedNav.tsx
  mobile/screens/SpotDetail/components/BottomReserve.tsx
  mobile/screens/SpotDetail/components/DetailParagraph.tsx
  mobile/screens/SpotDetail/components/Header.tsx
  mobile/screens/SpotDetail/components/Reviews.tsx
  mobile/screens/SpotDetail/components/SpotImages.tsx
  mobile/screens/SpotDetail/components/SpotTitle.tsx
  mobile/screens/SpotDetail/components/SubDetail.tsx
  mobile/screens/SpotDetail/components/TopNav.tsx
  mobile/store/index.ts
  mobile/store/spots.ts
  mobile/store/url.ts
  mobile/typings/redux.d.ts
  mobile/utils/url-parser.ts
Labels: Mobile

#273 Update README.md
  README.md
Labels: Documentation

#272 Splash page infinite scroll + adjustments
  mobile/assets/images/canada.jpg
  mobile/assets/images/caribbean.jpg
  mobile/assets/images/central-america.jpg
  mobile/assets/images/colombia.jpg
  mobile/assets/images/europe.jpg
  mobile/assets/images/flexible.jpg
  mobile/assets/images/italy.jpg
  mobile/assets/images/mexico.jpg
  mobile/assets/images/south-america.jpg
  mobile/assets/wireframes/Explore/search-bar-modal.PNG
  mobile/package-lock.json
  mobile/package.json
  mobile/screens/Home/Components/Search.tsx
  mobile/screens/Home/Components/SearchModal.tsx
  mobile/screens/Home/Components/SpotDetails.tsx
  mobile/screens/Home/Components/Spots.tsx
  mobile/store/index.ts
  mobile/store/spots.ts
Labels: Bug, Enhancement, Mobile

#274 Staging
  mobile/assets/images/canada.jpg
  mobile/assets/images/caribbean.jpg
  mobile/assets/images/central-america.jpg
  mobile/assets/images/colombia.jpg
  mobile/assets/images/europe.jpg
  mobile/assets/images/flexible.jpg
  mobile/assets/images/italy.jpg
  mobile/assets/images/mexico.jpg
  mobile/assets/images/south-america.jpg
  mobile/assets/wireframes/Explore/search-bar-modal.PNG
  mobile/package-lock.json
  mobile/package.json
  mobile/screens/Home/Components/Search.tsx
  mobile/screens/Home/Components/SearchModal.tsx
  mobile/screens/Home/Components/SpotDetails.tsx
  mobile/screens/Home/Components/Spots.tsx
  mobile/store/index.ts
  mobile/store/spots.ts
Labels: Enhancement, Mobile

#275 Staging
  README.md
  backend/package-lock.json
  backend/package.json
  backend/src/routes/api/spots.ts
  frontend/src/store/index.ts
  mobile/app.json
  mobile/assets/images/canada.jpg
  mobile/assets/images/caribbean.jpg
  mobile/assets/images/central-america.jpg
  mobile/assets/images/colombia.jpg
  mobile/assets/images/europe.jpg
  mobile/assets/images/flexible.jpg
  mobile/assets/images/italy.jpg
  mobile/assets/images/mexico.jpg
  mobile/assets/images/south-america.jpg
  mobile/assets/wireframes/Explore/search-bar-modal.PNG
  mobile/babel.config.js
  mobile/bin/start.sh
  mobile/package-lock.json
  mobile/package.json
  mobile/screens/Home/Components/NavBar.tsx
  mobile/screens/Home/Components/NavBarTile.tsx
  mobile/screens/Home/Components/Search.tsx
  mobile/screens/Home/Components/SearchModal.tsx
  mobile/screens/Home/Components/SpotDetails.tsx
  mobile/screens/Home/Components/Spots.tsx
  mobile/screens/Home/Home.tsx
  mobile/screens/SpotDetail/SpotDetail.tsx
  mobile/screens/SpotDetail/components/AnimatedNav.tsx
  mobile/screens/SpotDetail/components/BottomReserve.tsx
  mobile/screens/SpotDetail/components/DetailParagraph.tsx
  mobile/screens/SpotDetail/components/Header.tsx
  mobile/screens/SpotDetail/components/Reviews.tsx
  mobile/screens/SpotDetail/components/SpotImages.tsx
  mobile/screens/SpotDetail/components/SpotTitle.tsx
  mobile/screens/SpotDetail/components/SubDetail.tsx
  mobile/screens/SpotDetail/components/TopNav.tsx
  mobile/scripts/localtunnel.sh
  mobile/store/index.ts
  mobile/store/likes.ts
  mobile/store/session.ts
  mobile/store/spots.ts
  mobile/store/url.ts
  mobile/typings/redux.d.ts
  mobile/utils/url-parser.ts
Labels: Enhancement, Web

#276 Ab/newreviews
  frontend/src/assets/icons/empty-star.svg
  frontend/src/components/Modals/NewReviewModal.tsx
  frontend/src/components/Modals/css/NewReviewModalStyles.css
  frontend/src/components/Review/Review.tsx
  frontend/src/components/Review/review.css
Labels: Enhancement, Web
